<!doctype html>

{% load cookielaw_tags %}

{% load crispy_forms_tags %}

{% load static %}

<html lang="en">
    {% include 'head.html' %}
    <body id="bck">
        {% CookielawBanner %}

        {% include 'header.html' %}

        {% block carousel %}
        {% endblock carousel %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1000566373865046" crossorigin="anonymous"></script>
        <!-- Epredictz -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1000566373865046" data-ad-slot="6961668324" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% block content %}
        {% endblock content %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1000566373865046" crossorigin="anonymous"></script>
        <!-- Epredictz -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1000566373865046" data-ad-slot="6961668324" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% block headline %}
        {% endblock headline %}

        {% include 'footer.html' %}
        {% include 'scripts.html' %}
        <script type="text/javascript">
        var infolinks_pid = 3374315;
        var infolinks_wsid = 0;
        </script>
        <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
    </body>
</html>
