{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center" id="faq">
    <div class="row">
        <div class="col faqs">
            <br>
            <h2>Frequently Asked Questions</h2>
            <hr>
            <div class="col">
                <h4><b>HOW DO I BET ON THE SITE?</b></h4>
                <p>No you can’t, Epredictz is a soccer prediction site and not a betting site.</p>
                <hr>
                <h4><b>DO YOU PROVIDE FIXED TIPS?</b></h4>
                <p>No, we don’t. We give predictions based on statistics, current form, teams analysis and our maestros predictions.</p>
                <hr>
                <h4><b>WHAT IS 1, X, 2, 1x, 2x, YES, NO, UNDER AND OVER?</b></h4>
                <ul id='fach'>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i> <b  class="ull">1</b> simply means the home team wins.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i> <b class="ull">2</b> means the away team wins.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">X</b> means the game ends in a draw.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">1x</b> means home win or draw.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">2x</b> means away win or draw.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">YES</b> means the two teams score in the same match.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">NO</b> means either only one team scores or none of the team scores.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">UNDER</b> means less than the number of goals given.</li>
                    <li><i class="fa fa-check fachk" aria-hidden="true"></i><b class="ull">OVER</b> means more than the number of goals giving.</li>
                </ul>
                <hr>
                <h4><b>HOW GOOD ARE YOUR PREDICTIONS?</b></h4>
                <p>We have soccer prediction maestros which gives us the best tips, you can see by yourself that we have been winning in most times from the website.</p>
                <hr>
                <h4><b>HOW CAN I SUBSCRIBE? </b></h4>
                <p>
                    You can subscribe to any of our winning plans via bank deposit, online banking, debit cards, online transfer.
                </p>
                <hr>
                <h4><b>I MADE A LOT OF EARNINGS THIS MONTH,  WOULD LIKE TO APPRECIATE?</b></h4>
                <p>
                    Congratulations on your great earnings. We will appreciate you more by staying loyal to us and inviting your friends to join the cashing out team.
                </p>
                <hr>
                <h4><b>WHY DIDNT I SEE YOUR PREDICTIONS TODAY?</b></h4>
                <p>Epredictz gives soccer prediction tips at least 4 times a week and not everyday of the week, so maybe there were no predictions on the site that day.</p>
                <hr>
                <h4><b>DO YOU HAVE ANY OTHER QUESTION OR COMMENT ?</b></h4>
                <p>Please you can contact us on Gmail, Facebook and Twitter</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}
