{% load static %}

<head>
    <meta name="description" content="Epredictz is where you get accurate and reliable soccer tips. Home country to League tipsters, just visit our website to have unlimited access to our listed tips."/>
    <title>Excellent Prediction Zone: Home country to League tipsters.</title>

    <meta property="og:title" content="Excellent Prediction Zone">
    <meta property="og:description" content="Epredictz is where you get accurate and reliable soccer tips. Home country to League tipsters, just visit our website to have unlimited access to our listed tips.">
    <meta property="og:image" content="https://epredictz.com/static/img/goatman.png">
    <meta property="og:url" content="https://epredictz.com">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/soccer.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet" />

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6411693288489882" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144176874-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144176874-3');
    </script>
</head>
