{% load static %}

<head>
    <meta name="description" content="Excellent prediction zone (Epredictz) is the best football prediction website in the world, we offer reliable football match tips for free and we are considered the number one in soccer forecast all around the globe."/>
    <title>Excellent Prediction Zone: Best football prediction website</title>

    <meta property="og:title" content="Excellent Prediction Zone: Best football prediction website">
    <meta property="og:description" content="Excellent prediction zone (Epredictz) is the best football prediction website in the world, we offer reliable football match tips for free and we are considered the number one in soccer forecast all around the globe.">
    <meta property="og:image" content="https://epredictz.com/static/img/goatman.png">
    <meta property="og:url" content="https://epredictz.com">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/soccer.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet" />

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6411693288489882" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144176874-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144176874-3');
    </script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3DWBNLEWDD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3DWBNLEWDD');
    </script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
    $(function() {
        $( ".any_custom_class_name" ).datepicker();
    });
    </script>
</head>
