{% extends 'base.html' %}
{% load static %}

{% block carousel %}
<div class="container-fluid pb-4" id="cousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner" id="tim">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="{% static 'img/base1.jpg' %}" alt="World Cup">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/champ.jpg' %}" alt="Champions League">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/neymar_.jpg' %}" alt="Neymar jr">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/aguero_.jpg' %}" alt="Aguero">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/messi.jpg' %}" alt="Messi">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/Cr7c.jpg' %}" alt="C. Ronaldo">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="{% static 'img/salah_.jpg' %}" alt="M. Salah">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock carousel%}

{% block content %}
<div class="container pt-2 pb-5">
    <h1 id="tim">Excellent Prediction Zone: Best football prediction website in the world</h1>
    <div class="col-12">
        <div class="row">
            <a class="col-4 p-3 text-center font-weight-bold btn-success" href="{% url 'list_home_yesterday' %}">Yesterday</a>
            <a class="col-4 p-3 text-center font-weight-bold btn-danger" href="{% url 'list_home_today' %}">Today</a>
            <a class="col-4 p-3 text-center font-weight-bold btn-primary" href="{% url 'list_home_tomorrow' %}">Tomorrow</a>
        </div>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6411693288489882" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-6411693288489882"
            data-ad-slot="2193778565">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <table class="table table-bordered table-striped table-responsive-stack table-dark" id="tableOne">
        <thead class="thead-dark">
            <tr>
                <th>Country/League</th>
                <th>Date/Time</th>
                <th>Home</th>
                <th>Away</th>
                <th>Tips</th>
                <th>Odds</th>
                <th>Result</th>
            </tr>
        </thead>
        {% for page in ppages %}
        <tbody>
            <tr>
                <td>{{ page.league }}</td>
                <td>{{ page.date_time }}</td>
                <td>{{ page.home_team }}</td>
                <td>{{ page.away_team }}</td>
                <td>{{ page.tip }}</td>
                <td>{{ page.tip_odd }}</td>
                {% if page.result == 'won' %}
                <td><button class="btn btn-success">{{ page.result }}</button></td>
                {% elif page.result == 'lost' %}
                <td><button class="btn btn-danger">{{ page.result }}</button></td>
                {% elif page.result == 'pending' %}
                <td><button class="btn btn-warning text-white">{{ page.result }}...</button></td>
                {% else %}
                <td><button class="btn btn-primary">waiting...</button></td>
                {% endif %}
            </tr>
        </tbody>
       {% endfor %}
    </table>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6411693288489882" crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-6411693288489882"
        data-ad-slot="2193778565">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center" id="pag">
            <span class="step-links">
                {% if ppages.has_previous %}
                <a class="btn btn-success" href="?page={{ ppages.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <button class="btn btn-success">prev</button>
                </a>
                {% endif %}
                <span class="current">
                    Page {{ ppages.number }} of {{ ppages.paginator.num_pages }}.
                </span>

                {% if ppages.has_next %}
                <a class="btn btn-success" href="?page={{ ppages.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                    <button class="btn btn-success">next</button>
                </a>
                {% endif %}
            </span>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock content %}


{% block headline %}
<hr>
<div class="container text-center">
    <h4>
        <a href="#hidden" data-toggle="collapse" id="abt">Click here for an important tip</a>
    </h4>
    <div class="row">
        <div id="hidden" class="collapse">
            <div class="col" id="imp">
                <hr>
                <p>
                    Excellent Prediction Zone (Epredictz) is the best football prediction website in the world with the most accurate soccer prediction tips.
                    We are unique because we bring transparency to the world of football prediction and because we do not claim to be a 100% like some scam website do but we can boast of 95% accuracy rate in our predictions,
                    this is no wonder we are considered by many as the best football prediction website in the world.
                    We are a team of dedicated expert tipster who wants to help boost your revenue by increasing your betting success rate,
                    ensuring maximum gain and returns by providing accurate football predictions,
                    betting tips and detailed analysis based on algorithms, forms , historical results over time,
                    current team performance and other factors surrounding every soccer event.
                    Epredictz is the home for accurate and reliable soccer predictions forecasted by our team of brilliant analyst.
                    You can choose from between 5 to 10 game from this page if you wanted to,
                    this will increase your chances of winning a jackpot.
                     Football betting tips on Epredictz cover all the betting markets which means that our experts can predict or forecast on a wide scale to ensure maximum profits.
                     We will provide you with games with high assurance rate after making detailed research and in-depth analysis of each match and also considering other factors like match history,
                     challenges of the match at hand,
                     the team’s current form,
                     playing conditions and other factors that could be determined before each match.
                     At Epredictz we make use of different prediction models to come up with the data we provide our subscribers.
                     Our sole aim at is to help millions of people make more profits using our football betting tips provided by Epredictz expert tipsters.
                </p>
                <p>
                    Please check the date for the games you are booking as some of the games are future predictions, eg: (Tomorrow Games).
                    We built a unique web application interface which can be easily accessed from a desktop and a mobile device, making it easy for users to navigate the website with ease.
                    you can feel very confident to know that the bet you place on any betting company platform like Bet9ja,
                    Betwinner,
                    betway,
                    Sportpesa,
                    Nairabet,
                    1xbet,
                    Wazobet,
                    MerryBet are supported by the best football prediction tipster knowledge available today.
                    Football betting is one of the world's most fun experiences ever,
                    whether it's a bad defeat or an exciting victory. However, without any knowledge and guidance,
                    soccer betting is such a process that comes with high-risk.
                    Every day, football fans across the world are actively looking for a very reliable website that predicts football matches correctly over the long period of time.
                    Not to mention, a reputable soccer prediction site provides you with a very high edge over the other prediction website by serving well researched and analysed football match predictions accurately categorized in various outcomes or market.
                </p>
                <p>
                    Also note that we do not charge for any predicted game posted on Epredictz.
                    We stand out among all the football prediction sites you may have known or come across and we are rated as the most accurate and reliable football prediction website.
                    At Epredict we make use of different prediction models to come up with the data we provide our subscribers.
                    Football is a great game, which is filled with it's thrills and it's so full of fun.
                    Every strategy and every move a player make is the reason football is exciting and thrilling.
                    This is the main reason why this wonderful sport has millions of fans and this is the particular reason this sport has attracted multiple sports gamblers and punters toward football betting career, and that why we created this website to help maximize your wining potentials and make cool money online.
                    We offer you a wide range of correct predictions that you can truly rely on. Our exclusive interface makes it easier to navigate the website and find the markets you are quite interested in. In case you are seeking for websites which predict soccer matches accurately,
                    then Epredict is the best soccer prediction website ever listed.
                </p>
                <p>
                    The only sure thing about luck is that it will definitely change.
                    Beware!!!, We have only one epredictz.com, any other epredictz is a scam website.
                    Note: Always bet with your spare money.
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock headline %}
