.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #064300;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

body {
  padding-top: 5.0rem;
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  background-color: #fdfdfd;
}

.card-title a {
   color: darkgoldenrod;
   font-weight: bold;
}

.tags a {
    color: darkgoldenrod;
}

li .page-link {
    color: green;
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

footer {
    width: 100%;
    background-color: darkgoldenrod;
    padding: 5%;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
}

@media (max-width: 900px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
}

#icon {
    max-width: 150px;
}

#iconh {
    max-width: 150px;
}

#dwn {
    background-color: #D5D5D5;
}


#bltst {
    overflow: hidden;
    object-fit: fill;
    max-height: 800px;
}


@media only screen and (max-width: 600px) {
    #bltst {
        height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    #tst {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    #tsts {
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    #tstss {
        height: 250px;
    }
}

#blg {
    font-size: 13px;
    font-weight: bolder;
    font-family: arial;
}

#bck {
    background-color: #D5D5D5;
}

#abus {
 background-color: snow;
}

#csuc {
    background-color: snow;
    padding: 80px;
}

#trms {
    background-color: snow;
}

#faq {
    background-color: snow;
}

#lgot {
    background-color: snow;
    padding: 70px;
}

#prd {
    background-color: snow;
    padding: 80px;
}

#prdfk {
    background-color: snow;
    padding: 70px;
}

#abt {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

#hdr {
    background-color: #064300;
}

#navbdr {
    border: 1px solid #454d55;
}

#pag {
    font-weight: bolder;
    color: #064300;
    padding: 5px;
}

#pagn {
    color: blue;
}

#tim {
    font-weight: bold;
    background-color: #064300;
    color: snow;
    text-align: center;
    border: 1px solid rgb(222, 226, 230);
    padding: 5px;
}


@media (max-width: 600px) {
    a.footnote {
        font-size: 12px !important;
    }
}

@media (max-width: 600px) {
    a#abt {
        font-size: 18px !important;
    }
}

span.crups {
    color: green;
}


div.container.col-md-2.adsdbr {
    background-color: whitesmoke;
}

h3.text-center {
    background: whitesmoke;
    padding: 5px;
    border: 1px solid gray;
}

#cts {
    padding: 15px;
}

#nws {
 font-weight: bolder;
 padding: 5px;
}

h4.lbnws {
    font-weight: bold;
    font-family: Trebuchet MS;
    font-size: 18px;
}

p {
    font-family: Trebuchet Ms;
    font-size: 15px;
}

#bt {
    text-decoration: none;
    color: #FFF;
}

.footnote {
    color: black;
    font-weight: bolder;
}

.lut a {
    text-decoration: none;
    color: white;
}

.lut {
    margin: 15px;
    padding: 15px;
}

.ull {
    color: #007bff;
}

.fachk {
    padding-right: 5px;
}

#fach {
    list-style: none;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.csm {
    border: 1px solid #D5D5D5;
}

#imp {
    background-color: black;
    color: snow;
}

#erf {
    background-color: snow;
    padding: 80px,
}

#cod {
    background-color: snow;
    padding: 70px;
}

.fa, fa-comments {

    color: gray;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

table td .vers {
    font-weight: bold;
    color: red;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table td {
    font-family: Trebuchet MS;
}

table tbody tr .chng {
    font-weight: bold;
    color: darkgoldenrod;
}

table tbody tr .chg {
    color: #007bff;
    font-weight: bold;
    font-size: 15px;

}

table tbody tr .chngg {
    font-weight: bold;
    font-size: 12px;
}

table tbody tr .chgg {
    font-weight: bold;
    font-size: 15px;
}

table th, table td {
    padding: .625em;
    text-align: center;
}

@media (max-width: 600px) {
    table, table tr, table th, table td {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    h1, h2, h3, h4, h5, h6, p, a {
        font-size: 14px !important;
    }
}



@media (max-width: 600px) {
    table td {
        font-size: 14px !important;
    }
}

a.ttr {
    text-decoration: none;
}


/* img.d-block.w-100 {
   width:100%;
   height:550px;
   object-fit:cover;
   object-position:50% 50%;
} */

.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
  
  
.table-responsive-stack td,
.table-responsive-stack th {
    display:block;
/*      
    flex-grow | flex-shrink | flex-basis   */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
  
.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
}
  
@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-bottom: 3px solid #ccc;
        display:block;
    }

    /*  IE9 FIX   */
    .table-responsive-stack td {
        float: left\9;
        width:100%;
    }
}